.ipynb_checkpoints/*
bert-base-uncased-op/*
bert-base-uncased-ot/*
bert-large-uncased-op/*
combined-semi-supervised/*
Data/*
data_split/*
data_split_bt/*
GroNLP/*
microsoft/*
vinai/*
roberta-base-op/*
roberta-large-op/*
*.csv
*.sh
output*
TaskB/.ipynb_checkpoints/*
TaskB/bert-base-uncased-op/*
TaskB/bert-base-uncased-ot/*
TaskB/bert-large-uncased-op/*
TaskB/combined-semi-supervised/*
TaskB/Data/*
TaskB/data_split/*
TaskB/data_split_bt/*
TaskB/GroNLP/*
TaskB/microsoft/*
TaskB/vinai/*
TaskB/roberta-base-op/*
TaskB/roberta-large-op/*
TaskB/*.csv
TaskB/*.sh
TaskB/output*
TaskB/bert-base-uncased-p
*.pt
TaskB/*.pt
*.ipynb
TaskB/*.ipynb
wandb/*
TaskB/wandb/*
trainerfile/*
TaskB/trainerfile/*

TaskC/.ipynb_checkpoints/*
TaskC/bert-base-uncased-op/*
TaskC/bert-base-uncased-ot/*
TaskC/bert-large-uncased-op/*
TaskC/combined-semi-supervised/*
TaskC/Data/*
TaskC/data_split/*
TaskC/data_split_bt/*
TaskC/GroNLP/*
TaskC/microsoft/*
TaskC/vinai/*
TaskC/roberta-base-op/*
TaskC/roberta-large-op/*
TaskC/*.csv
TaskC/*.sh
TaskC/output*
TaskC/bert-base-uncased-p
TaskC/*.pt
TaskC/*.ipynb
TaskC/wandb/*
TaskC/trainerfile/*
!ensemble.ipynb



